annotated-types
anyio
av
certifi
cffi
charset-normalizer
click
ctranslate2
cuda-bindings
cuda-pathfinder
cuda-toolkit
distro
faster-whisper
filelock
flatbuffers
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
jsonpatch
jsonpointer
langchain
langchain-core
langchain-ollama
langchain-protocol
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
ollama
onnxruntime
orjson
ormsgpack
packaging
pathvalidate
piper-tts
protobuf
pycparser
pydantic
pydantic_core
PyYAML
requests
requests-toolbelt
setuptools
silero-vad
sniffio
sounddevice
sympy
tenacity
tokenizers
torch
torchaudio
tqdm
triton
typing-inspection
typing_extensions
urllib3
uuid_utils
webrtcvad-wheels
websockets
xxhash
zstandard
